footer {
  margin-top: 2vh;
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  color: #a9a9a9;
}

#container {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.image_container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  position: relative;
}

.designation {
  writing-mode: vertical-rl;
  font-family: "PT Serif";
  font-weight: 400;
}
.name {
  font-family: "Poppins";
  font-weight: 600;
}

@media screen and (min-width: 500px) {
  header {
    margin-bottom: 5vh;
    margin-top: 5vh;
    height: auto;
    display: flex;
    justify-content: space-between;
  }
  #header_title {
    margin-top: 1%;
    font-size: 36px;
    font-weight: 700;
    font-family: "PT Serif";
  }

  #header_intro {
    margin-top: 1%;
    margin-left: 1%;
    width: 45%;
  }

  #header_quest {
    font-size: 18px;
    font-weight: 600;
    font-family: "Poppins";
  }

  #intro {
    margin-top: 15px;
    font-size: 18px;
    font-weight: 400;
    font-family: "Poppins";
    width: 90%;
  }
  body {
    width: 70vw;
    margin-left: 15vw;
  }

  #container {
    justify-content: space-between;
    margin-top: 10vh;
  }
  .image_container {
    margin-left: 0ps;
    margin-bottom: 10%;
    width: 30%;
    /* min-width: 200px; */
    height: 40%;
  }
  .name {
    font-size: 18px;
  }
  .designation {
    font-size: 12px;
    position: absolute;
    font-weight: 400;
    left: 75%;
  }
  #person2,
  #person5 {
    margin-top: 10%;
  }

  img {
    width: 70%;
    object-fit: contain;
  }
  footer {
    font-size: 16px;
  }
}
@media screen and (max-width: 500px) {
  header {
    margin-bottom: 4vh;
    margin-top: 2vh;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  #header_title {
    margin: 2vh 0vh 3vh 0vh;

    /* margin-bottom: 2vh; */
    font-size: 36px;
    font-weight: 700;
    font-family: "PT Serif";
  }

  #header_intro {
    margin:0px;
    width: 100%;
  }

  #header_quest {
    margin: 0px;
    margin-bottom:  10px;
    font-size: 17px;
    font-weight: 600;
    font-family: "Poppins";
  }

  #intro {
    margin: 2px;
    font-weight: 400;
    font-size: 16px;
    font-family: "Poppins";
    width: 90%;
  }
  body {
    width: auto;
    margin-left: 5vw;
    margin-right: 5vw;
  }
  #container {
    justify-content: space-around;
    margin-top: 5vh;
  }
  .image_container {
    margin-left: 0ps;
    margin-bottom: 10%;
    width: 30%;
    min-width: 150px;
    height: 40%;
  }
  .designation {
    font-size: 10px;
    position: absolute;
    font-weight: 400;
    left: 92%;
  }
  .name {
    font-size: 14px;
    margin: 3%;
  }
  #person2, #person4, #person6{
    margin-top: 5vh;
  }

  img {
    width: 90%;
    object-fit: contain;
  }
  footer {
    font-size: 14px;
  }

}
